cache=/Users/10D/Documents/Vinodh/10D/Code/SecondOp/SecondOP-Agentic/secondop-backend-agentic/.npm-cache
logs-dir=/Users/10D/Documents/Vinodh/10D/Code/SecondOp/SecondOP-Agentic/secondop-backend-agentic/.npm-cache/_logs
